body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    margin-right: 230px;
    align-items: center;
    
  }
  #blockcard { width: 800px; }
  tr { 
    
    padding: 0;  margin: 0;}
  td {
   
    padding: 0;
    float: left;
    margin-left: 145px!important;
    list-style: none;
    outline: solid;
    width: 150px;
    height: 150px;
  }
  

  img{
    cursor: pointer;
    width: 150px;
    height: 150px;
    padding: 15px;
  }